{% extends "auth/layout.html" %}
{% from "auth/macros.html" import render_input, render_form_alert %}

{% block auth_tagline %}Ti aiutiamo a rientrare in pochi minuti.{% endblock %}
{% block auth_title %}Recupera l'accesso{% endblock %}
{% block auth_description %}
Inserisci il tuo indirizzo email: se l'account esiste, invieremo un link sicuro per reimpostare la password.
{% endblock %}

{% block auth_alerts %}
  {{ render_form_alert(form) }}
{% endblock %}

{% block auth_form %}
<form class="auth-form" method="POST" action="" data-auth-form>
  {{ form.hidden_tag() }}
  {{ render_input(form.email, icon="fa-regular fa-envelope", autocomplete="email", autofocus=True) }}
  <button type="submit"
          name="{{ form.submit.name }}"
          value="{{ form.submit.label.text }}"
          class="auth-button"
          data-primary-action>
    <span class="auth-button__label">{{ form.submit.label.text }}</span>
  </button>
</form>
{% endblock %}

{% block auth_secondary %}
<div class="auth-links">
  <p>Ricordi le credenziali? <a href="{{ url_for('auth.login') }}">Torna al login</a></p>
</div>
{% endblock %}