{% extends "auth/layout.html" %}
{% from "auth/macros.html" import render_input, render_form_alert %}

{% block auth_tagline %}Proteggi il tuo account con una password robusta.{% endblock %}
{% block auth_title %}Imposta una nuova password{% endblock %}
{% block auth_description %}
Scegli una password sicura, diversa da quelle già usate. Ti reindirizzeremo al login una volta confermata.
{% endblock %}

{% block auth_alerts %}
  {{ render_form_alert(form) }}
{% endblock %}

{% block auth_form %}
<form class="auth-form" method="POST" action="" data-auth-form>
  {{ form.hidden_tag() }}
  {{ render_input(form.password, icon="fa-solid fa-lock", hint="Almeno 8 caratteri, evita sequenze ovvie", autocomplete="new-password", autofocus=True) }}
  {{ render_input(form.password2, icon="fa-solid fa-lock", label="Conferma nuova password", autocomplete="new-password") }}
  <button type="submit"
          name="{{ form.submit.name }}"
          value="{{ form.submit.label.text }}"
          class="auth-button"
          data-primary-action>
    <span class="auth-button__label">{{ form.submit.label.text }}</span>
  </button>
</form>
{% endblock %}

{% block auth_secondary %}
<div class="auth-links">
  <p>Hai risolto? <a href="{{ url_for('auth.login') }}">Torna al login</a></p>
</div>
{% endblock %}